
<div class="container text-center">
  <ul style="list-style: none">
    <li> <%= @cocktail.name %> </li>
  </ul>

  <h2>Doses</h2>
  <ul style="list-style: none">
    <% @cocktail.doses.each do |dose| %>
    <li> ID: <%= dose.id %> </li>
    <li> Description: <%= dose.description %> </li>
    <li> Ingredient: <%= Ingredient.find(dose.ingredient_id).name %> </li>
    <% end %>
  </ul>


<p> <%= link_to "Add a new cocktail", new_cocktail_path(@cocktail), class: "btn btn-primary" %> </p>

<p> <%= link_to "Show all cocktails", cocktails_path %> </p>

<p> <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %> </p>

<p> <%= link_to "Delete a dose", cocktail_dose_path(@cocktail), method: :delete %> </p>


</div>
