<h1> Dose for <%= @cocktail.name %> </h1>

<h2> Please select an ingredient from the list below </h2>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient%>
  <%= f.submit "Add this dose", class: "btn btn-primary" %>
<% end %>
